@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --columns: 12;

    --header-height: calc(5dvh + 8dvh + 5dvh);

    --ff-primary: "Fraunces", serif;
    --ff-secondary: "Outfit", sans-serif;

    --fs-1: clamp(1.875rem, 1rem + 3.5vw, 3rem);
    --fs-2: clamp(1.5rem, 0.9rem + 2.5vw, 2.25rem);
    --fs-3: clamp(1.25rem, 0.85rem + 1.5vw, 1.75rem);
    --fs-4: clamp(1rem, 0.6875rem + 1vw, 1.25rem);
    --fs-5: clamp(0.75rem, 0.4375rem + 1vw, 1rem);

    --space-1: 4px;
    --space-2: 8px;
    --space-3: 16px;
    --space-4: 32px;
    --space-5: 64px;
    --space-6: 128px;

    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;

    --color-bg: hsl(38, 45%, 96%);
    --color-text: hsl(207, 95%, 8%);
    --color-primary: hsl(207, 86%, 14%);
    --color-secondary: hsl(35, 100%, 55%);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    touch-action: pan-y;
}